# Database configuration
# The URL of the database to which the application should connect. This should be in the format:
# `postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME`.
DATABASE_URL=

# Redis configuration
# Host on which the Redis server is running. Default is localhost.
REDIS_HOST=
# Port on which the Redis server is running. Default is 6379.
REDIS_PORT=

# Webhook configuration
# The URL to which the webhook will be sent. This should be the endpoint of your webhook receiver.
WEBHOOK_TARGET_URL=
# The secret key used to sign the webhook payloads. This should be a secure, random string that is known only to your application and the webhook receiver.
WEBHOOK_SECRET=

# Security keys
ENCRYPTION_KEY=
REDIS_PASSWORD=